.gallery{
    border:solid 1px black;
    font-size: 16px;
}
.gallery header{
    font: red;
    font-style: italic;
}
.gallery ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.gallery ul li {
    border: solid 1px black;
    padding: 20px;
  }